<!DOCTYPE html>
<html>
  <head>
    <title>Art n Cart</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="https://js.stripe.com/v3/">
        Stripe.setPublishableKey('pk_test_iodjRiA9OzTNpXpsiIKw07wm00DXI6uf7H');
        var stripe = Stripe('pk_test_iodjRiA9OzTNpXpsiIKw07wm00DXI6uf7H');
        var elements = stripe.elements();
    </script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('icon.png') %>
  </head>
  <body>
  <div style="position: fixed" class="w3-bar w3-black w3-card-4">
    <% if admin_signed_in?%>
    <div  class="w3-bar-item w3-button w3-mobile w3-yellow">Welcome admin!</div>
    <% end %>
    <div  class="w3-bar-item w3-button w3-mobile w3-green w3-hover-yellow"><%= link_to 'Home', welcome_index_path %></div>
    <% if admin_signed_in?%>
    <div  class="w3-bar-item w3-button w3-mobile w3-hover-yellow"><%= link_to 'Categories', admin_categories_path %></div>
    <div  class="w3-bar-item w3-button w3-mobile w3-hover-yellow"><%= link_to 'Products', admin_products_path %></div>
    <% end %>
    <% if current_user %>
    <div  class="w3-bar-item w3-button w3-mobile w3-hover-yellow"><%= link_to 'Shop Art', products_path %></div>
    <div  class="w3-bar-item w3-button w3-mobile w3-hover-yellow"><%= link_to 'Art Lessons', new_subscription_path %></div>
    <div  class="w3-bar-item w3-button w3-mobile w3-hover-yellow"><%= link_to 'Forum', simple_discussion_path %></div>
    <div  class="w3-bar-item w3-button w3-mobile w3-right w3-hover-yellow"><%= link_to 'Sign out', destroy_user_session_path %></div>
    <div  class="w3-bar-item w3-button w3-mobile w3-right w3-red w3-hover-yellow"><%= link_to 'My Cart', cart_path %></div>
    <div  class="w3-bar-item w3-button w3-mobile w3-right w3-black w3-hover-black w3-text-black"><%= link_to 'Login as Admin', admin_products_path %></div>
    <% else %>
    <div  class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-right"><%= link_to 'Sign in', user_session_path %></div>
    <div  class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-right"><%= link_to 'Sign up', new_user_registration_path %></div>
    <% end %>
  </div>
  <br><br>
  <div class="w3-container">
      <div class="w3-center">
        <p class="notice w3-text-green"><%= notice %></p>
        <p class="alert w3-text-red"><%= alert %></p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
